<div class="list-group">
  <%= link_to :plan_items, class: 'list-group-item' do %>
    <i class='fa fa-list'></i> 予定表
  <% end %>
  <%= link_to :new_plan_item, class: 'list-group-item' do %>
    <i class='fa fa-plus'></i> 予定の追加
  <% end %>
</div>
