<div class='row'>
  <div class='col-12'>
    <div class='input-group date-picker'>
      <%= f.text_field attr_name,
        class: 'form-control form-control-danger', required: true %>
      <span class='input-group-addon'><i class='fa fa-calendar'></i></span>
    </div>
  </div>
</div>
