.form-group:not(.has-danger) {
  input.form-control[type="text"],
  textarea.form-control,
  span.input-group-addon
  {
    border-color: gray;
  }
}

.custom-checkbox .custom-control-indicator {
  border: solid 1px gray;
  background-color: #eceeef;
}
